on fs
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on property:ro.crypto.state=encrypted
    start qcom_servicemanager
    start qcom_hwservicemanager
    start prepdecrypt

on property:crypto.ready=1
    start mountfirmware

on property:crypto.ready=1 && property:hwservicemanager.ready=true && property:firmware.ready=1
    start qseecomd

on property:sys.listeners.registered=true
    start gatekeeper-1-0
    start keymaster-3-0

on property:vendor.sys.listeners.registered=true
    start gatekeeper-1-0
    start keymaster-3-0

service prepdecrypt /sbin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service mountfirmware /sbin/mountfirmware.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service qcom_servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    oneshot
    seclabel u:r:recovery:s0

service qcom_hwservicemanager /sbin/hwservicemanager
    user root
    group root
    onrestart setprop hwservicemanager.ready false
    disabled
    oneshot
    seclabel u:r:recovery:s0

service qseecomd /sbin/qseecomd
    user system
    group system drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/sbin:/system/lib64:/system/lib
    disabled
    oneshot
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    user system
    group system
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/sbin:/system/lib64:/system/lib
    disabled
    oneshot
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service
    user system
    group system drmrpc
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/sbin:/system/lib64:/system/lib
    disabled
    oneshot
    seclabel u:r:recovery:s0
